<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665728405386-hsoj5ag00cd83liu0m9c36vcpe1oep38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665728405386-hsoj5ag00cd83liu0m9c36vcpe1oep38</string>
	<key>API_KEY</key>
	<string>AIzaSyCD2a0-eEUCVACzsDkcgW-YD45CAPDMumk</string>
	<key>GCM_SENDER_ID</key>
	<string>665728405386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dlxTask</string>
	<key>PROJECT_ID</key>
	<string>driver-location-d28ea</string>
	<key>STORAGE_BUCKET</key>
	<string>driver-location-d28ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665728405386:ios:14d7a1a92959b57541c273</string>
</dict>
</plist>